<div class="row justify-content-center mt-5">
  <div class="col-12 col-sm-8 col-md-6 custom-form">
    <h2></h2>
        <%= simple_form_for(:user, url: registrations_path) do |f| %>
          <small>Les champs suivis d'un * sont obligatoires</small>
          <div class="form-inputs mt-3">
            <%= f.input :name, autofocus: true, placeholder: "Grand Hôtel" %>
            <%= f.input :email,
                        required: true,
                        placeholder: "grand-hotel@gmail.com",
                        input_html: { autocomplete: "email" },
                        hint: "Pour vous connecter à votre compte et recevoir les alertes mails"
                      %>
            <%= f.input :password,
                        required: true,
                        label: "Mot de passe",
                        hint: "6 caractères minimum",
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :address, placeholder: "1 place de la Victoire, 33300 Bordeaux" %>
            <%= f.input :telephone, placeholder: "0523456789" %>
            <%= f.input :siret, placeholder: "123 568 941 00056"  %>
            <%= f.input :manager, placeholder: "Jean Martin" %>
            <%= f.input :max_rooms, placeholder: "50", hint: "Créées automatiquement lors de la creation du compte" %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Créer son compte", class: 'btn-primary' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
